# Heavy Evidence Files
*.E01
*.msi
*.exe

# Autopsy Case Data (too large/temp)
DFIR_Project/
missing/
autopsy.db

# Node.js
node_modules/
npm-debug.log*

# Office Temp Files
~$*.docx

# OS Files
.DS_Store
Thumbs.db
